@model MVCReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title) Review</h2>

<div>
    <h4>Written by: @Html.DisplayFor(model => model.ReviewerName)</h4>
    <h4>Date: @Html.DisplayFor(model => model.Date)</h4>

    <div class="row">
        <p class="details">
            @Html.DisplayFor(model => model.Content)
        </p>
        

    </div>
</div>
<p style="font: bold">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
