@model IEnumerable<MVCReviewSite.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <h3>
                @Html.DisplayFor(modelItem => item.Title)
            </h3>
            <h4>
                Category: @Html.DisplayFor(modelItem => item.Category.Name)
            </h4>
            <h4>
                Written by: @Html.DisplayFor(modelItem => item.ReviewerName)
            </h4>
            <h3>
                @Html.DisplayFor(modelItem => item.WouldRecommend)
            </h3>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
            </p>
        </div>
    }
</div>


